* {
  margin: 0px;
  padding: 0px;
}

.textarea {
  width: 212px;
  font-size: 20px;
  padding: 8px;
  text-align: right;
  background-color: black;
  color: white;
}

#isi {
  background-color: black;
  padding: 10px;
  padding-right: 0px;
  border: 2px solid black;
  margin-right: 110px;
}

.button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
}

.button-orange {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background: black;
  color: orangered;
}

.button-equal {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  margin: 2px;
  cursor: pointer;
  border: none;
  background: orangered;
  color: white;
}
